body{
    background-color: #ffffff;
}
header{
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid gray;
    background-color:#CFD8DC;

    
    
}
footer{
    border-top: 5px solid #424242;
    bottom: 0;
    background-color:#CFD8DC;
    padding: 10px;    
    width: 100%;
    left: 0;
    text-align: center;
}


.logo{
    padding: 14px;
    position:absolute;

}
.content-size{
    width: 960px;
}
.content-center {
    margin: auto;
}
.box {
    margin-top: 50px;
    border: 1px solid gray;
}

div .image-wrapper{
	float:left; 
    position:relative; 
    margin-left: 15px;
}
div .description{
	position:absolute; 
	bottom:0px; 
	left:0px;
	width:100%;
	
	background-color:black;
	color:white;
	opacity:0.6; 
    filter:alpha(opacity=60); 
    text-align:center;
}
p .description_content{
	padding:10px;
	margin:0px;
    font-size: 30px;
}

.parallax { 
	background-image: url('./images/clean-commerical-office-space.png'); 
	min-height: 400px; 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
    background-size: cover; 
    
} 

.parallax2 { 
	background-image: url('./images/office.png'); 
	min-height: 400px; 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
    background-size: cover; 
   
} 

.parallax3 { 
	background-image: url('./images/keybord-220357.png'); 
	min-height: 400px; 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
    background-size: cover; 
   
} 

.card {
    background-color: #607D8B;
    width: 50;
}




  .jumbotron {
    background-color:#CFD8DC;
  }